{% if title %}
<title> {{ title }}</title>
{% else %}
<title> News Broadcast</title>
{% endif %}
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
{% endblock %}

{% block content%}

<div class="container-fluid">
        <div class="container-fluid" >
              <div class="card">
                <div class="card-body">
                <div id="generalNews" class="collapse">
                        <div class="card-header">
                                <h1>Choose your prefered news source</h1>
                              </div>  
            <h2 class="card-title"></h2>
            <div class="row">
        {{macro.displayNewsSourcesList(general)}}
    </div>     
    </div>
    </div>
        </div>
            <div class="card">
                    <div class="card-body"> 
                <div id="businessNews" class="collapse">  
            <h2 class="card-title"></h2>
            <div class="row">
        {{macro.displayNewsSourcesList(business)}}
                </div>
   </div>
    </div>
            </div>
            <div class="card">
            <div class="card-body"> 
                <div id="sportsNews" class="collapse">    
            <h2 class="card-title"></h2>
            <div class="row">
        {{macro.displayNewsSourcesList(sports)}}
                </div>
        </div>
    </div>
            </div>
            <div class="card">
                    <div class="card-body">
                <div id="technologyNews" class="collapse">   
            <h2 class="card-title"></h2>
            <div class="row">
        {{macro.displayNewsSourcesList(technology)}}
                </div>
        </div>
    </div>
            </div>
            <div class="card">
                    <div class="card-body">
                <div id="entertainmentNews" class="collapse">
            <h2 class="card-title"></h2>
            <div class="row">
        {{macro.displayNewsSourcesList(entertainment)}}
    </div>
    </div>
    </div>
</div>
        </div>
</div>
{% endblock %}